@media (max-width:1200px){
    .container{
        max-width: 800px;
    }
    .promo{
        &__header{
            font-size: 37px;
            line-height: 37px;
        }
        &__subheader{
            font-size: 21px;
        }
    }
    .benefits{
        &__icons{
            width: 225px;
        }
    }
}
@media (max-width:991px){
    .container{
        max-width: 630px;
    }
    .header{
        &__logo{
            width: 210px;
        }
        &__official{
            font-size: 11px;
            span{
                font-size: 16px;
            }
        }
        &__phone{
            font-size: 15px;
        }
        button{
            width: 130px;
            height: 25px;
            font-size: 10px;
        }
    }
    .promo{
        min-height: 630px;
        &__header{
            font-size: 33px;
            line-height: 33px;
        }
        &__subheader{
            font-size: 18px;
        }
        &__icons{
            width: 350px;
        }
        &__icon{
            width: 90px;
            font-size: 11px;
        }
        .button_main{
            width: 250px;
            height: 40px;
            font-size: 14px;
        }    
        &__link{
            font-size: 14px;
        }
    }
    .benefits{
        &__wrapper{
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        &__icons{
            width: 275px;
            margin-top: 20px;
        }
    }
}
@media (max-width:767px){
	.container{
		max-width: 450px;
	}
	.header{
		&__official{
			display: none;
		}
	}
    .promo{
        &__wrapper{
            align-items: center;
        }
    }
}
@media (max-width:575px){
	.container{
		max-width: 280px;
	}
	.header{
		&__logo{
			width: 135px;
		}
		&__phone{
			font-size: 12px;
		}
		button{
			width: 100px;
			height: 18px;
			font-size: 7px;
		}
	}
	.promo{
		background:contain;
		min-height: 488px;
		padding: 21px 0 50px 0;
		&__wrapper{
			margin-top: 40px;
		}
		&__header{
			font-size: 22px;
			line-height: 22px;
		}
		&__subheader{
			text-align: center;
		}
		&__icons{
			margin-top: 40px;
			width: 270px;
		}
		&__link{
			font-size: 13px;
		}
		.button_main{
			margin-top: 40px;
		}
	}
	.benefits{
		padding: 30px 0 30px 0;
		&__header{
			font-size: 22px;
		}
	}

}